* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,body {
  width: 100%;
  height: 100vh;
}

html {
  font-size: 62.5%;
}

body{
  background: url(/images.jpg) black center center / cover;
}

h1 {
  color: white;
}